@page
@model IndexModel
@{
    ViewData["Title"] = "Ajay Alamuri | Home";
}

<div class="body">
    <!--Top of Page Intro-->
    <div id="introContainer" class="bg-gradient text-center mb-5">
        <h1 class="display-4 fw-bolder mt-3">Heyo, my name is Ajay Alamuri</h1>
        <h3 class="card-subtitle my-3">But you already knew that!</h3>
        <h5 class="small fw-bold">(or at least I hope you did if you got here)</h5>
    </div>
    <div class="container-fluid">
        <div class="row">
            <!--Image-->
            <img id="profilePicture" src="~/images/profilePicture.jpg" alt="Ajay Alamuri" class="col-auto"/>
            <!--Text-->
            <div class="col flex-column">
                <h3 class="text-center mt-3 mb-5">So who is that handsome gremlin on the left?</h3>
                <p class="text-center mx-3 mt-3">
                    Heyo! I'm Ajay Alamuri, a fresh graduate from University of Massachusetts Lowell
                    with a Bachelor's degree in Computer Science and currently pursuing a Computer Engineering degree at
                    Quinsigamond Community College. I love metal/rock music, video games, sci-fi, puzzles, and building cool stuff (Check out my projects up top)!
                </p>
                <p class="text-center mx-3 mt-3">
                    I am a passionate and open-minded leader who loves to combine ideas together to create the best possible solution. Although
                    I prefer back-end development, I am comfortable working on any part of the stack as long as I have some time to sink my teeth into it.
                    My primary languages are C#, C++, Python, and JavaScript, but I'm always eager to learn new technologies and frameworks.
                </p>
                <p class="text-center mx-3 mt-3">
                    I'm currently looking for entry-level opportunities in software development or related fields.
                    If you have any opportunities or just want to connect, feel free to reach out to via my LinkedIn below or through my
                    contact page and I will get back to you! <!-- ADD CONTACT PAGE LINK-->
                </p>
            </div>
        </div>
        <div class="row flex-fill">
            
        </div>
    </div>
</div>
